# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Go build cache
build/

# Dependency directories (remove the comment below to ignore them)
# vendor/

# IDE and editor files
.idea/
*.swp
*.swo
.vscode/

# macOS files
.DS_Store

# Logs and databases
*.log
*.sql
*.sqlite

# Test binary, build with 'go test -c'
*.test

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Other
tmp/
